    <div class="dashboard-item">
      <header>
          <img src="list.png" alt="A list of items" />
          <h2 class="title">Support Tickets</h2>
        </header>
      <article>
         <div id="tickLoop">
          <ul>
            @for (ticket of tickets; track ticket.id){
            <li>
              <app-ticket
              [data]="ticket"
              (completed)="onCompleteTicket($event)"
              ></app-ticket>
            </li>
          } @empty {
            <p>No tickets available</p>
          }
          </ul>
        </div>
        <div id="new-ticket">
          <app-new-ticket (add)="onAddTicket($event)"></app-new-ticket>
        </div>
      </article>
    </div>

     